body{
  background-color: rgb(0, 0, 0);
}

#helloworld{
  width: 100px;
  display: block;
  margin: auto;
  align-items: center;

  transition-property: width, transform;
  transition-duration: 3s;
  transition-timing-function: ease;
  transition-delay: 0.2s;
}

#helloworld:hover{
  width: 590px;
  transform: rotate(720deg);
}